In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numexpr as ne
import seaborn as sns
from time import time
from random import  random

sns.set()
%matplotlib inline

**ITERATORS**

In [286]:
#range is actually an iterator not a list

for value in[ 1,2,3,4,5]:
  print(value + 2)

3
4
5
6
7

In [288]:
I = iter([1,2,3,4,5])

print(next(I))
print(next(I))
print(next(I))

1
2
3

In [291]:
N= 10**12
for i in range(N):
  if i>=10:
    break
  print(i)

0
1
2
3
4
5
6
7
8
9

In [292]:
#enumerate a list

List= [2,4,6,8,10]

for index, value in enumerate(List):
  print(index, value)

0 2
1 4
2 6
3 8
4 10

**MAP AND FILTER**

In [298]:
#map and filter

for value in map(lambda x : x+5 , range(10) ):
  print (value)

5
6
7
8
9
10
11
12
13
14

In [297]:
for value in filter(lambda x: x %2 ==0, range(10)):
  print(value)

0
2
4
6
8

**ARGS AND KWARGS:  functions that dont specify amount of inputs**

**single inputs end up as args, keyword inputs end up as kwargs**

In [303]:
def person(*args, **kwargs):
  return args, kwargs

person( 'ethan' , age=21, loc='SI')

         arg      keyword args

(('ethan',), {'age': 21, 'loc': 'SI'})

In [304]:
person('ethan', 'rosen', age=21)
             args           kwargs

(('ethan', 'rosen'), {'age': 21})

**LIST COMPREHENSION**

In [306]:
# in brackets, list

#basic for loop comprehension:

L=[]
for i in range(20):
  L.append(i)

L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [312]:
#Simplified

display (
  [ i for i in range(20) ],


'------------------',

[(i,j) for i in range(2) for j in range(5)]

)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

'------------------'

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4)]

In [313]:
[i for i in range(20) if i%2==0]   #the even numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [314]:
[i**2 for i in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

**GENERATORS**

In [317]:
#   while list comprehensions use [], 
#    genorators use () or the word yield, these do not use memory or create values, they are a recipe for producing them


genorator= ( i for i in range(12))

for i in genorator:
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [332]:
g= (n**2 for n in range(12))

list(g)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [326]:
#  if i run the list(g) again it is already used up

[]

In [336]:
# another way to do this is:

def genorator():
  for i in range(12):
    yield i

g2= genorator()

print(*g2)

0 1 2 3 4 5 6 7 8 9 10 11

-------------

**DECORATORS**

In [357]:


def mdecorator(function):
  
  def wrapper(x,y):
    if y ==0:
      return '0 not allowed'
   
    return function(x,y)
  
  return wrapper




@mdecorator
def divide(x,y):
  return x/y

In [362]:
divide(50,0)

'0 not allowed'